<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Personal message</title>
        <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
        <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
        <script src="/scriptPersonal.js"></script>
    </head>
    <body>
        <div id="main-content">
            <div>
                <div>
                    <label>What is your username?</label>
                    <input type="text" id="username" placeholder="Your username here...">
                </div>
                <button id="connect" type="submit">Connect</button>
                <form>
                    <div>
                        <label>User will received message</label>
                        <input type="text" id="name" placeholder="User will receive the message...">
                    </div>
                    <button id="send" type="submit">Send</button>
                </form>
            </div>
        </div>
        <div>
            <label>Message from someone: </label><span id="message"></span>
        </div>
    </body>
</html>